:root {
	--primary-color: #112C68;
	--secundary-color:  #476AC7;
	--highlight-color: #FCEE21;
	--light-color: #E6E6E6;
	--grey-color: #505050;
	--gradient-102-deg: linear-gradient(102.03deg, #112C68 0%, #112C68 10%, #3E63CC 50%, #476AC7 54%, #5F7BB8 61%, #8798A0 70%, #BEC17F 80%, #FCEE59 90%, #FCEE21 100%);
	--gradient-180-deg: background: linear-gradient(180deg, #112C68 0%, #3E63CC 50%, #476AC7 54%, #5F7BB8 61%, #8798A0 70%, #BEC17F 80%, #FCEE59 90%, #FCEE21 100%);
	--gradient-purple: linear-gradient(90deg, #8B4BBC 11644.8%, #112C68 15072.25%);
	--font-size: 1.8rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Mulish;
}
html {
	font-size: 67.5%;
	scroll-behavior: smooth;
}
body {
}
main {
	font-size: 1.6rem;
	position:relative;
	background-image:url(https://i.ibb.co/rZG3ZQh/registro.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* ---------------------------- */
/* ---- PROFILE SELECTION ----- */
/* ---------------------------- */

.card__container {
	min-height:100vh;
	position: relative;
  width: 100%;
  height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: 1s;
}
.images__container {
	position: relative;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	/* gap: 35px;
	top: 5vh; */
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, #0004);
	z-index: 5;
}
.images__container > form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 35px;
	top: 5vh;
}
.images__container .box {
	position: relative;
  width: 280px;
  height: 280px;
  background: #444;
  margin: 0 20px;
	border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, var(--highlight-color) 25%, var(--grey-color) 25%, var(--grey-color) 50%, var(--highlight-color) 50%, var(--highlight-color) 75%, var(--grey-color) 75%, var(--grey-color) 100%);
  background-size: 40px 40px;
  filter: grayscale(1);
  animation: animate 1s linear infinite;
  animation-play-state: paused;
  transition: filter 1s;
  transition: transform 0.4s;
  display: flex;
  justify-content: center;
}
.images__container .box:nth-child(2) {
  background: linear-gradient(135deg, var(--secundary-color) 25%, var(--grey-color) 25%, var(--grey-color) 50%, var(--secundary-color) 50%, var(--secundary-color) 75%, var(--grey-color) 75%, var(--grey-color) 100%);
  background-size: 40px 40px;
}
.images__container .box:hover {
  animation-play-state: running;
  filter: grayscale(0);
}
.images__container .box input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	appearance: none;
}
.images__container .box input[type="radio"]:hover ~ img {
	height: 330px;
}
.images__container .box h2 {
	position: absolute;
	left: 10px;
	top: -35px;
	color: #fff;
	opacity: 0.2;
}
.images__container .box:hover h2 {
	opacity: 1;
}
.images__container .box img {
	position: relative;
  height: 90%;
  position: absolute;
  bottom: 0;
  transition: height 0.5s;
	cursor: pointer;
}
.images__container .box img:hover {
  height: 330px;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}
.images__container .active {
  transform: translateX(0);
  transform: translateX(var(--traslate));
	filter: grayscale(0);
	z-index: 2;
}
.images__container .inactive {
	transform: translateZ(20px) scale(0.5);
	z-index: 1;
}
.images__container .box a {
  position: absolute;
  display: inline-block;
	right: 15px;
	bottom: 15px;
	width: 200px;
	height: 40px;
	text-transform: uppercase;
	line-height: 1.8rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
	opacity: 0;
	transition: opacity 0.4s;
}
.images__container .active a {
	opacity: 1;
}
.images__container .box a span {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	border-radius: 25px;
  color: var(--highlight-color);
  background: var(--secundary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
	z-index: 10; /* Higher than radio button*/
}
.images__container .box a span:nth-child(2) {
  color: var(--secundary-color);
  background: var(--highlight-color);
  overflow: hidden;
  z-index: 12;
  transition: 0.5s ease-in-out;
  clip-path: polygon(0% 0%, 5% 0, 10% 50%, 5% 100%, 0% 100%);
}
.images__container .box a:hover span {
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
}

/* ------------------------ */
/* ---- ANIMATED LOGO ----- */
/* ------------------------ */

#logo {
  position: absolute;
	width: 90%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) scale(0.75);
  /* animation: fill 0.5s ease forwards 5s; */
	z-index: 1;
}
#logo path {
  animation: line-animation 2s ease forwards;
}
#logo path:nth-child(1) {
  stroke-dasharray: 779px;
  stroke-dashoffset: 779px;
  animation-delay: 0.3s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 543px;
  stroke-dashoffset: 543px;
  animation-delay: 0.6s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 581px;
  stroke-dashoffset: 581px;
  animation-delay: 0.9s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 338px;
  stroke-dashoffset: 338px;
  animation-delay: 1.2s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 570px;
  stroke-dashoffset: 570px;
  animation-delay: 1.5s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 377px;
  stroke-dashoffset: 377px;
  animation-delay: 1.8s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 513px;
  stroke-dashoffset: 513px;
  animation-delay: 2.1s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 338px;
  stroke-dashoffset: 338px;
  animation-delay: 2.4s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 538px;
  stroke-dashoffset: 538px;
  animation-delay: 2.7s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 593px;
  stroke-dashoffset: 593px;
  animation-delay: 3s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 377px;
  stroke-dashoffset: 377px;
  animation-delay: 3.3s;
}
@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--highlight-color);
  }
}

/* ------------------------------- */
/* --- REGISTER FORM CONTAINER --- */
/* ------------------------------- */

.register {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.register__container { 
	background-color: var(--light-color);
	min-width: 250px;
	max-width: 500px;
	position:relative;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}
.title { 
	position:relative;
	margin-top: 30px;
	margin-bottom: 20px;
}
.big_title { 
	color:var(--primary-color);
	width:256px;
	position:relative;
	text-align:center;
	font-size:32px;
	letter-spacing:1;
}
.form { 
	position:relative;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}
.form__container {
	width: 100%;
	display: flex;
	justify-content:space-evenly;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.form .inputbox {
	padding: 0 10px;
	/* width: 210px; */
	width: 100%;
	min-width: 100px;
	margin-top: 15px;
	font-size: 1.4rem;
}
.form .form__container .form__left,
.form .form__container .form__right {
	width: 50%;
	min-width: 210px;
}
.form .inputbox.parrafo {
	/* width: 420px;
	min-width: 210px; */
	width: 100%;
	padding: 0 10px;
}
.form .inputbox input{ 
	width:100%;
	height:30px;
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	border: none;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	padding-left: 10px;
	padding-right: 10px;
}
.checkBox {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form .button {
	width: 90%;
}
.form .inputbox input[type="submit"] { 
	background-color: var(--primary-color);
	color: #fff;
	height: 30px;
}
.form .inputbox input[type="checkbox"]{ 
	margin-right: 5px;
	height: 1.2rem;
	width: 1.2rem;
}
.register__container p {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.4rem;
}
@media screen and (max-width: 960px)  and (orientation: portrait) {
	.images__container .active {
		transform: translateX(0);
	}
}